.page {
  background: #eee;
  padding: 20rpx;
}

.search_row {
  display: flex;
  height: 60rpx;
  display: flex;
  justify-content: center;
  align-items: center; 
  input {
    flex: 1;
    background: #fff;
    height: 100%;
  }
  button {   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26rpx;
    width: 110rpx;
    margin-left: 20rpx;
  }
}

.search_content {
  margin-top: 30rpx;
  background: #fff;
  .search_item {
    border-bottom: 1rpx solid #ccc;   
    padding: 20rpx 15rpx;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}